---
import { getCollection } from "astro:content";
// const allPosts = await Astro.glob("../pages/posts/*.md");
const allPosts = await getCollection("posts");
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Mi blog aprendiendo Astro";
import BlogPost from "../../components/BlogPost.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <p>Este es mi blog de Astro.</p>
      <ul>
        {
          allPosts.map((post) => {
            // return <BlogPost url={post.url} title={post.frontmatter.title} />;
            return <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
          })
        }
      </ul>
    </BaseLayout>
  </body>
</html>
